{% extends 'core/base.html'%}

{% block title %}
ABOUT
{% endblock %}

{% block content %}
<!-- About section -->
<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
        <img alt="Retail Tiles Shop" class="object-cover object-center h-full w-full"
          src="https://images.unsplash.com/photo-1519681393784-d120267933ba">
      </div>
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">About Us</h1>
        <div class="leading-relaxed">
          <p class="mb-5">Retail Tiles Shop has been providing high-quality tiles to homeowners and businesses since
            2010. We have a wide range of tiles to choose from, including ceramic, porcelain, mosaic, and natural stone.
            Our experienced staff can help you select the right tiles to fit your needs and budget.</p>
          <p class="mb-5">We pride ourselves on our excellent customer service and competitive prices. Whether you're
            renovating your home or office, or just looking for some new tiles to spruce up your space, we've got you
            covered. Visit us today and let us help you find the perfect tiles for your project.</p>
          <p class="mb-5">If you have any questions or would like to schedule a consultation, please don't hesitate to
            contact us. We look forward to hearing from you!</p>
        </div>
      </div>
    </div>
</section>
  <!-- End About section -->
{% endblock %}