{% extends 'core/base.html' %}

{%block title%}
Welcome to Diamond Flooring
{%endblock%}

{% block content %}

<div class="container mx-auto my-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="bg-white rounded-lg shadow-lg">
      <img src="https://www.tilebar.com/media/catalog/product/cache/11183d1b3140425519ce5aa44cd12859/g/b/gb1-tlibelnrbblk24x48_1.jpg" alt="Tile 1" class="object-cover w-full h-48 rounded-t-lg">
      <div class="p-4">
        <h3 class="font-semibold text-lg">Tile 1</h3>
        <p class="text-gray-700 my-2">Description of Tile 1 goes here.</p>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg">
      <img src="https://www.tilebar.com/media/catalog/product/cache/11183d1b3140425519ce5aa44cd12859/g/b/gb4-mjrnflrwtcrths.jpg" alt="Tile 2" class="object-cover w-full h-48 rounded-t-lg">
      <div class="p-4">
        <h3 class="font-semibold text-lg">Tile 2</h3>
        <p class="text-gray-700 my-2">Description of Tile 2 goes here.</p>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg">
      <img src="https://www.tilebar.com/media/catalog/product/cache/2270f03c9e16417ec0e6c7cc04a76711/s/s/ss16-tlmzahcbsnta8x8.jpg" alt="Tile 3" class="object-cover w-full h-48 rounded-t-lg">
      <div class="p-4">
        <h3 class="font-semibold text-lg">Tile 3</h3>
        <p class="text-gray-700 my-2">Description of Tile 3 goes here.</p>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-lg">
      <img src="https://www.tilebar.com/media/catalog/product/cache/11183d1b3140425519ce5aa44cd12859/g/b/gb-mjrnflrbkjdcal.jpg" alt="Tile 4" class="object-cover w-full h-48 rounded-t-lg">
      <div class="p-4">
        <h3 class="font-semibold text-lg">Tile 4</h3>
        <p class="text-gray-700 my-2">Description of Tile 4 goes here.</p>
        <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Add to Cart</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}