{% extends 'core/base.html'%}

{% block content%}
	<!-- Page Content -->
	<div class="container mx-auto px-4 mt-8">
		<h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>

		<p class="text-gray-800 mb-4">At Tiles Retail Shop, we are committed to protecting the privacy of our customers. This Privacy Policy outlines how we collect, use, and share personal information collected through our website and in-store transactions.</p>

		<h2 class="text-xl font-bold mb-2">Information We Collect</h2>

		<p class="text-gray-800 mb-4">We collect personal information such as name, address, phone number, and email address when you make a purchase in-store or online. We may also collect information about your browsing and shopping behavior on our website, as well as demographic information.</p>

		<h2 class="text-xl font-bold mb-2">How We Use Your Information</h2>

		<p class="text-gray-800 mb-4">We use your personal information to process and fulfill your orders, to communicate with you about your orders or account, to provide customer support, and to improve our website and services. We may also use your information to send promotional offers and marketing communications.</p>

		<h2 class="text-xl font-bold mb-2">How We Share Your Information</h2>

		<p class="text-gray-800 mb-4">We may share your personal information with third-party service providers that help us process payments, fulfill orders, or provide customer support. We may also share your information to comply with legal obligations or to protect our rights or property.</p>

		<h2 class="text-xl font-bold mb-2">Your Choices and Rights</h2>

		<p class="text-gray-800 mb-4">You can choose not to provide certain personal information, but this may limit your ability to make purchases or use certain features of our website. You can also opt-out of receiving marketing communications by following the instructions in the</p>

        <h2 class="text-xl font-bold mb-2">Security</h2>

        <p class="text-gray-800 mb-4">We take reasonable measures to protect the personal information we collect and store. However, no method of transmission or storage is 100% secure, and we cannot guarantee the security of your information.</p>

        <h2 class="text-xl font-bold mb-2">Updates to this Privacy Policy</h2>

        <p class="text-gray-800 mb-4">We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. We encourage you to review this page periodically for any updates.</p>

        <h2 class="text-xl font-bold mb-2">Contact Us</h2>

        <p class="text-gray-800 mb-4">If you have any questions or concerns about our Privacy Policy, please contact us:</p>

        <ul class="list-disc list-inside mb-4">
            <li>Tiles Retail Shop</li>
            <li>Nadavarakeri</li>
            <li>Murdeshwar</li>
            <li>Phone: +91 9448854980</li>
            <li>Email: info@diamondflooring.com</li>
        </ul>

    </div>
{%endblock%}